body{
	margin-top: 100px;
	padding: 0;
	justify-content: center;
	background-color: white;
	align-items: center;
	font-family: sans-serif;
}



.login{
	justify-content: center;
    align-items: center;
	background-color: rgb(201, 210, 235);
	width: 350px;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 10px;
	margin: auto;
}

.login h2{
	margin: 0 0 20px; 
	width: 100%;
	margin-bottom: 25px;
}

.login .input-group{
	position: relative;
	width: 100%;
	margin-bottom: 25px;
	
}

.login .input-group input{
	height: 50px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 18px;
	border: 3px solid black;
	border-radius: 10px;
}

.login .input-group span{
	position: absolute;
	top: 12px;
	left: 20px;
	padding: 0px;
	text-transform: capitalize;
	background-color: #fff;
	
	
}

.login .input-group input:focus ~ span,
.login .input-group input:valid ~ span{
	top: -12px;
	left: 20px;
	font-size: 12px;
	background-color: rgb(59, 124, 209);
	padding: 2px 4px;
	border: 1px solid #000;
	border-radius: 10px;

}

.login .input-group input[type="submit"]{
	background-color: rgb(99, 148, 223);
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	width: 35%;
	transition: 0.5s;
}

.login .input-group input[type="submit"]:hover{
	width: 100%;
	background-color: rgba(83, 170, 228, 0.5);
	color: #fff;
}

.daftar {
	font-weight: bolder;
	color: royalblue;
}